{% extends 'base.html' %}

{% load static %}


{% block title %}
	Blog | {{object.title}}
{% endblock title %}


{% block css %}
	<style>
		body{
			background-image: url("https://drive.google.com/uc?export=view&id=18WdJc9NLLiid8wUBMxGXnlg7HAKRhJJD");
			background-blend-mode: multiply;
			background-repeat: no-repeat;
			background-size: cover;
			background-attachment: fixed;
			/* background-blend-mode: lighten; */
		}
		.title{
			font-family: cursive;
			text-align: center;
			border-radius: 1rem;
			/* background-color: rgb(184, 132, 253); */
			opacity: 70%;
			/* width: max-content; */
			/* padding: 2rem 2rem 2rem 2rem; */
			margin: 2rem 2rem 2rem 2rem;
			transition: transform .2s;
		}
		.title:hover{
			transform: scale(1.025,1.025);
			/* background-color: rgb(184, 132, 253); */
		}
		.title-text{
			transition: transform .2s;
		}
		.title-text:hover{
			transform: scale(1.025,1.025);
		}
		.date-time{
			transition: transform .2s;
			
			text-align: center;
		}
		.date-time:hover{
			transform: scale(1.025,1.025);
		}
		.quote{
			margin-left: 2rem;
			margin-right: 2rem;
			/* padding: 2rem 2rem 2rem 2rem; */
			width: 95%;
			border-bottom-left-radius: 2rem;
			border-top-right-radius: 2rem;
			border-top-left-radius: .5rem;
			border-bottom-right-radius: .5rem;
			
			opacity: 80%;
			/* background-color: rgb(127, 246, 255); */
			transition: transform .2s;
		
		}
		.quote:hover{
		transform: scale(1.025,1.025);
		}
		.blog-body{
			margin: 2rem 10%  2rem 10%;
			padding: 2rem 2rem 2rem 2rem;
			width: 80%;
			border-radius: 3rem;
			border-style: double;
			opacity: 85%;
			background-color: ivory;
			transition: transform .2s;
		}
		.blog-body:hover{
			transform: scale(1.025,1.005);
			opacity: 95%;
		}
		.blog-body-content{
			margin: 2rem 2rem 2rem 2rem;
			padding: 2rem 2rem 2rem 2rem;
			
		}
		
		.button{
			background-color: cyan;
			border-radius: .5rem;
			height: 40px;
			width: 250px;
			transition: transform .2s;
		}
		.button:hover{
			background-color: chartreuse;
			transform: scale(1.25,1.25);
		}
	</style>
{% endblock css %}
	

{% block content %}

	<section class="blog-body" style="padding-top: 55px;">
		<div class="title">
			<h1 class="title-text">{{object.title}}</h1>
		</div>
			
		<div class="date-time">
			{{ object.date_posted|date:"F d, Y" }}
		</div>
		
		<blockquote class="quote">
			<p class="quote-text" data-selectable-paragraph="">
				
			</p>
		</blockquote>
		
		<div class="blog-body-content">
			{{ object.body|safe }}
		</div>
	</section>
	<div class="row" style="display: flex; align-items: center; justify-content: center; padding-top:10px;padding-bottom:30px;height: 80px;width: 100%;">

		<button class="button">
			
				<a target="_blank" href="{{ object.blog_link }}">
					Read on Medium
				</a>		
			
		</button>
	</div>
	
	
{% endblock content %}
	
	
{% block share-options %}
	<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-60faaee9722d7f95"></script>

{% endblock share-options %}