{% extends 'base.html' %} {% load static %} {% block title %}SAIL{% endblock title %} 
{% block one %}active{% endblock one %}
{% block css %} 
    <style>
        .page-title{
            font-style: normal;
            font-weight: 600;
            font-size: 34px;
            line-height: 44px;
            /* identical to box height, or 131% */

            letter-spacing: 0.0038em;

            /* Dark Blue - For text and dark bg */

            color: #1E2532;
        }
        .ach-box{
            border: solid 2.5px rgba(123, 124, 123,.5);
        }

        .counter {
            animation-duration: 1s;
            animation-delay: 0s;
        }

        @import url(//fonts.googleapis.com/css?family=Montserrat:400,700);

        .ach-box{
            font-weight: normal;
            font-size: 36px;
            line-height: 24px;
            /* or 67% */

            text-align: center;
            text-transform: capitalize;

            color: #130F26;
        }
    </style>
{% endblock css %} 


{% block carousel %}

<!-- slider banner	 -->
<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel" style="padding:0 0 !important; ">
    <div class="carousel-inner">

        {% for i in pic_list %} {% if i.id == 1 %}
        <div class="carousel-item active" data-bs-interval="5000">
            <img src="{{i.img.url}}" class="d-block w-100" alt="...">
        </div>{% endif %} {% endfor %} {% for i in pic_list %} {% if i.id != 1 %}
        <div class="carousel-item" data-bs-interval="2000">
            <img src="{{i.img.url}}" class="d-block w-100" alt="...">
        </div>{% endif %} {% endfor %}



    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
	  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
	  <span class="visually-hidden">Previous</span>
	</button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
	  <span class="carousel-control-next-icon" aria-hidden="true"></span>
	  <span class="visually-hidden">Next</span>
	</button>
</div>

{% endblock carousel %}
    

{% block content %}




<section id="about" class="section-padding about-area">

    <div class="container">
        <br>
        <br>
        <br>
        <!-- //Section Title -->
        <div class="row justify-content-between">
            <div class="col-lg-7 ">
                <div class="about-content text-muted">
                    <h1 class="page-title">Student Alumni Interaction Linkage</h1>


                    <p>Student Alumni Interaction Linkage (SAIL) is a voluntary cell of IIT Guwahati under the office of Alumni Affairs and External Relations. It will be operated by the students of IIT Guwahati under the Guidance of Dean, Alumni Affairs
                        and External Relations. SAIL acts as an engaging and a mutually beneficial link between IIT Guwahati and its Alumni community.</p>
                    <br>
                    <p>The organization functions with a vision to develop a dynamic student alumni community with IITGAA committed for establishing connections and strengthening ties between students and alumni, facilitating IIT Guwahati's mission of providing
                        top quality education and opportunities and investing in its future.
                    </p>
                    <br>
                    <p>For achieving our well specified and sophisticated vision, a plethora of activities have been undertaken to establish connections and strengthening ties between current students to alumni; and alumni to alumni.</p>
                    <br>

                </div>
            </div>
            <div class="col-lg-5 ">
                <!-- <div class="about-bg" style="background-image:url(https://www.iitg.ac.in/aer/content/alumni/images/sail2.jpg)">
                </div> -->
                <img src="https://www.iitg.ac.in/aer/content/alumni/images/sail2.jpg" alt="">
            </div>

        </div>
    </div>
</section>


<section class="container" style="margin-bottom: 5%;">
    <div class="page-title" style="margin-bottom: 3%;">Achievements</div>

    <div class="row">
        <div class=" col-lg-3 col-sm-12 col-xs-12 text-center align-items-end" style="padding: 0 25px;">
            <div class="ach-box stats-div row align-items-end">

                <h2 class="col-4">81+</h2>
                <h6 class="col-6">Startups</h6>
                
            </div>
        </div>
        <div class=" col-lg-3 col-sm-12 col-xs-12 text-center align-items-end" style="padding: 0 25px;">
            <div class="ach-box stats-div row align-items-end">

                <h2 class="col-4">81+</h2>
                <h6 class="col-6">Startups</h6>
                
            </div>
        </div>
        <div class=" col-lg-3 col-sm-12 col-xs-12 text-center align-items-end" style="padding: 0 25px;">
            <div class="ach-box stats-div row align-items-end">

                <h2 class="col-4">81+</h2>
                <h6 class="col-6">Startups</h6>
                
            </div>
        </div>
        <div class=" col-lg-3 col-sm-12 col-xs-12 text-center align-items-end" style="padding: 0 25px;">
            <div class="ach-box stats-div row align-items-end">

                <h2 class="col-4">81+</h2>
                <h6 class="col-6">Startups</h6>
                
            </div>
        </div>
    </div>
</section>


{% endblock content %} {% block js %}
<script type="text/javascript">
    // get the element
    const text1 = document.getElementById('typing1');
    const text2 = document.getElementById('typing2');
    const text3 = document.getElementById('typing3');

    // make a words array
    const words = [
        "We",
        "are",
        "here",
        "to",
        "connect"
    ];

    // start typing effect
    setTyper(text1, words);
    setTyper(text2, words);
    setTyper(text3, words);

    function setTyper(element, words) {

        const LETTER_TYPE_DELAY = 75;
        const WORD_STAY_DELAY = 1000;

        const DIRECTION_FORWARDS = 0;
        const DIRECTION_BACKWARDS = 1;

        var direction = DIRECTION_FORWARDS;
        var wordIndex = 0;
        var letterIndex = 0;

        var wordTypeInterval;

        startTyping();

        function startTyping() {
            wordTypeInterval = setInterval(typeLetter, LETTER_TYPE_DELAY);
        }

        function typeLetter() {
            const word = words[wordIndex];

            if (direction == DIRECTION_FORWARDS) {
                letterIndex++;

                if (letterIndex == word.length) {
                    direction = DIRECTION_BACKWARDS;
                    clearInterval(wordTypeInterval);
                    setTimeout(startTyping, WORD_STAY_DELAY);
                }

            } else if (direction == DIRECTION_BACKWARDS) {
                letterIndex--;

                if (letterIndex == 0) {
                    nextWord();
                }
            }

            const textToType = word.substring(0, letterIndex);

            element.textContent = textToType;
        }

        function nextWord() {

            letterIndex = 0;
            direction = DIRECTION_FORWARDS;
            wordIndex++;

            if (wordIndex == words.length) {
                wordIndex = 0;
            }

        }
    }
</script>


{% endblock js %}