
*.pyc
*.virtualenv
*.cfg
.DS_Store
SAIL_SITE/lib/*
SAIL_SITE/bin/*
SAIL_SITE/db/db.sqlite3
SAIL_SITE/db.sqlite3
SAIL_SITE/pyvenv 2.cfg
*.pth
*.pyc
SAIL_SITE/*/__pycache__/*
SAIL_SITE/*/migrations/__pycache__/*
*.pyc
*.pyc
*.pyc
