<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Red Hat Display' rel='stylesheet'>

    <title>{%block title%}{% endblock title%}</title>

    {% block css %} {% endblock css %}

</head>

<style>
    .footer-heading {
        font-family: Raleway;
        font-style: normal;
        font-weight: 600;
        font-size: 34px;
        line-height: 44px;
        letter-spacing: 0.0038em;
    }
    .footer-items {
        font-family: Red Hat Display;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.0075em;
        color: white;
    }
    .footer-items:hover{
        color: white;
        text-decoration: underline;
    }
    .logo-text {
        font-family: Raleway;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        /* identical to box height */

        letter-spacing: 0.0322em;
    }
    .copyright-text {
        font-family: Red Hat Display;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        /* or 150% */

        letter-spacing: 0.0075em;

        /* Light Grey */

        color: #9FABB7;
    }
</style>
<body>

    <div style="position: -webkit-sticky; position: sticky; top: 0; background-color: white;">


    
        <h3 style="text-align: center;"><img width="40" src="https://upload.wikimedia.org/wikipedia/en/thumb/1/12/IIT_Guwahati_Logo.svg/220px-IIT_Guwahati_Logo.svg.png" alt=""> Indian Institute of Technology Guwahati</h3>
        <div class="row">
            <div class="col" style="margin-left: 5%;  padding-top: 1%; padding-bottom: 1%; color:#2C3A47;;">
                <h5>STUDENTS' AFFAIRS BOARD </h5>
            </div>
            <div class="col" style="background-color: #2C3A47; color: white ; padding-top: 1%; padding-bottom: 1%;">
                <div class="btn-group dropup">
                    <button type="button" class="btn dropdown-toggle" style="color: white; font-size: 150%;" data-bs-toggle="dropdown" aria-expanded="false">
                    Student Alumni Interaction Linkage
                    </button>
                    <ul class="dropdown-menu text-center" style="color: white; background-color: #2C3A47; padding-right: 40%;">
                        <li>
                            <a href="">
                                <h2 style="color: white;">HAB</h2>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <h2 style="color: white;">Sports Board</h2>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <h2 style="color: white;">Technical Board</h2>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <h2 style="color: white;">Cultural Board</h2>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col"></div>
        </div><br> 
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link {% block one %}{% endblock one %}" aria-current="page" href="{% url 'home:home' %}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% block two %}{% endblock two %}" aria-current="page" href="{% url 'services:services' %}">Services</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% block three %}{% endblock three %}" aria-current="page" href="{% url 'initiatives:initiatives' %}">Initiatives</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% block four %}{% endblock four %}" aria-current="page" href="{% url 'events:events-home'%}">Events</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% block five %}{% endblock five %}" aria-current="page" href="{% url 'blog:blog-home' %}">Blog</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% block six %}{% endblock six %}" aria-current="page" href="{% url 'team:SailTeam'%}">Team</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

    </div>

    {% block carousel %} {% endblock carousel %}
    <!-- <ul class="nav sticky-top">
        <li class=" nav-item ">
            <a style="color: #2C3A47; background-color: white;" class="nav-link " aria-current="page " href="{% url 'home:home' %} ">Home</a>
        </li>
        <li class="nav-item ">
            <a style="color: #2C3A47; background-color: white;" class="nav-link " aria-current="page " href="{% url 'services:services' %} ">Services</a>
        </li>
        <li class="nav-item ">
            <a style="color: #2C3A47; background-color: white;" class="nav-link " aria-current="page " href="{% url 'initiatives:initiatives' %} ">Initiatives</a>
        </li>
        <li class="nav-item ">
            <a style="color: #2C3A47; background-color: white;" class="nav-link " aria-current="page " href="{% url 'events:events-home'%} ">Events</a>
        </li>
        <li class="nav-item ">
            <a style="color: #2C3A47; background-color: white;" class="nav-link " aria-current="page " href="{% url 'blog:blog-home' %} ">Blog</a>
        </li>
        <li class="nav-item ">
            <a style="color: #2C3A47; background-color: white;" class="nav-link " aria-current="page " href="{% url 'team:SailTeam'%} ">Team</a>
        </li>
    </ul> -->






    <div class="content " style="padding: 0 10vw; ">


        {% block content %} {% endblock content %}

    </div>

    <div style="background-color: #1E2532; color: white;">
        <div class="container">
            <footer class="py-5">
                <div class="row">
                    <div class = "col-lg-2 col-sm-4" >
                        <img src="https://iitg.ac.in/img/iitgfooter.png" style="width: 100%; height: auto;">
                    </div>
                    <div class="col-lg-3 col-sm-4" style="padding-top: 5px;">
                        <h4 class="footer-heading">Contact</h4>
                        <ul class="nav flex-column">
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 footer-items">Address: Guwahati - 781039</a></li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 footer-items">Phone: +91 361 258 4000</a></li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 footer-items">Email: peeroff@iitg.ac.in</a></li>
                            <li class="nav-item mb-2 p-0">
                                <ul style="padding: 0px;">
                                    <li style="display: inline;"><a href="#" style="text-decoration: none;"><img src="/media/Facebook.png"></a></li>
                                    <li style="display: inline; padding-left: 5px;"><a href="#" style="text-decoration: none;"><img src="/media/LinkedIn.png"></a></li>
                                    <li style="display: inline; padding-left: 5px;"><a href="#" style="text-decoration: none;"><img src="/media/Outlook.png"></a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-sm-4" style="padding-top: 5px;">
                        <h4 class="footer-heading">Useful Links</h4>
                        <ul class="nav flex-column">
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 footer-items">IIT Guwahati</a></li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 footer-items">Alumni & External Relations</a></li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 footer-items">IITG Alumni Association</a></li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 footer-items">Startups of IITG Alumni</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-2 col-sm-4" style="padding-top: 5px;">
                        <h4 class="footer-heading" style="visibility: hidden;">Links</h4>
                        <ul class="nav flex-column">
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 footer-items">HAB</a></li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 footer-items">Administration</a></li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 footer-items">Telephone Directory</a></li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 footer-items">Intranet</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-2 col-sm-4" style="padding-top: 5px;">
                        <h4 class="footer-heading" style="visibility: hidden;">Links</h4>
                        <ul class="nav flex-column">
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 footer-items">Convocation Speeches and Documents</a></li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 footer-items">Student Gymkhana</a></li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 footer-items">Academic Affairs</a></li>
                        </ul>
                    </div>
                </div>
                <br>
                <br>

                <div class="row" style="padding-top: 5px;">
                    <div class="col-lg-6 col-sm-6 col-xs-12" style="width: fit-content;">
                        <img src="/media/swc.png">
                        &nbsp; 
                        <div class = "logo-text" style="display: inline;">
                            IITG Hostel Affairs Board
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-6 col-xs-12">
                        <div class="copyright-text" style="display: inline;">
                            |
                            &nbsp; &nbsp;
                            &copy; 2021 &nbsp; @students-web-commitee
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js " integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB " crossorigin="anonymous "></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js " integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13 " crossorigin="anonymous "></script>
    -->
    <script>

        (window).scroll(function () {
            $('nav').toggleClass('scrolled', $(this).scrollTop() > 500);
        });
    </script>
    <script>
        $(document).ready(function() {
            $(window).scroll(function() {
                var scroll = $(window).scrollTop();
                if (scroll > 300) {
                    $(".black ").css("background ", "blue ");
                } else {
                    $(".black ").css("background ", "#333 ");
                }
            })
        })
    </script>
</body>

</html>