.col-sm-6{
  border: .5rem black ;
}

.blog-thumb{
  width: 30rem;
  height: auto;
  border-radius: 1.5rem;

  margin-bottom: 2rem;
}

.blog-title{
  
}

.single-blog{
  border: .05rem solid black ;
  border-radius: 2rem;
  margin-top: 2rem;

  padding: 2rem;
  
}

.blog-link{
  border: .05rem solid black;
  border-radius: .5rem;
  padding-left: .75rem;
  padding-right: .75rem;
  padding-top: .5rem;
  padding-bottom: .5rem;


}