
{% extends 'base.html' %}
{% load static %}

{% block title %}
  SAIL | {{ events.title }}
{% endblock title %}
  


{% block css %}
    <style>
       
       .blog-thumb{
            padding: 0 0;
            border-radius: 0 !important;
        }
       
        
        .page-title{
            font-style: normal;
            font-weight: 600;
            font-size: 34px;
            line-height: 44px;
            /* identical to box height, or 131% */


            letter-spacing: 0.0038em;

            color: #082C4E;

            margin-top: 20px;

        }

        .content{


            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 30px;
            /* or 167% */

            letter-spacing: 0.05em;

            /* Good Grey - For less significant text */

            color: #636870;

        }


        .blog-auth{
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 20px;
            /* identical to box height, or 150% */

            letter-spacing: 0.0075em;

            /* White */

            color: #FFFFFF;

            opacity: .7;
            padding-top: 20px;
            padding-bottom: 20px;
        }

        

        .time{
          margin: 20px 0;
        }

        @media screen and (max-width:768px) { 
          .event-image img{
            width: 100%;
          }
        }
        
    </style>
{% endblock css %}


{% block content %}

  <section>
      <div class="row" style="margin-top: 7%;">
        <div class="col-lg-8  col-sm-12">
            <div class="about-blog-content">
                <div class="page-title">
                  {{ events.title }}
                </div>
                <div class="time">
                  <strong> Time : </strong> {{ events.date }}
                </div>
                <p class="content">
                  {{ events.content }}  
                </p>
            </div>
        </div>
        <div class="event-image col-lg-4 col-sm-8">
            <img src="{{events.image.url}}" alt="">
        </div>
      </div>
      <br>
  </section>

    
{% endblock content %}
    