{% extends 'base.html' %}

{% load static %}

{% block title %}
    Blog | Home
{% endblock title %}
    

{% block css %}
    <style>
        body{
            background-image: url("https://drive.google.com/uc?export=view&id=1N5S-vUKqUb4LJ6n_BMU4Fhu1Lwm7zpUd");
            background-blend-mode: multiply;
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
        }
        
        .section{
            margin-left: 2rem;
            margin-right: 2rem;
            margin-top: 2rem;
            margin-bottom: 2rem;
            
        }
        
        .blog-title{
            transition: transform .2s;
            margin-top: 2rem;
        }
        .blog-title:hover{
            transform: scale(1.05,1.05);
        }
        
        .blog-thumb{
            width: 30rem;
            height: auto;
            border-radius: 1rem;
        
            box-shadow: .5rem .5rem rgb(197, 197, 197);
            
        
            margin-bottom: 2rem;
            transition: transform .2s;
            
            margin-bottom: 2rem;
        }
        .blog-thumb:hover{
            transform: scale(1.05,1.05);
        }
        
        .blog-title{
            
        }
        
        .single-blog{
            border: .05rem solid black ;
            border-radius: 2rem;
            margin-top: 2rem;
        
            padding: 2rem;
            transition: transform .2s;
            background-color: azure;
            margin-bottom: 2rem;
            align-items: center;
        }
        .single-blog:hover{
            transform: scale(1.05,1.05);
        }
        
        
        .blog-link{
            border: .05rem solid black;
            border-radius: .5rem;
            padding-left: .75rem;
            padding-right: .75rem;
            padding-top: .5rem;
            padding-bottom: .5rem;
        
            transition: transform .2s;
            background-color: rgb(188, 255, 255);
            
            align-items: center;
        }
        .blog-link:hover{
            transform: scale(1.05,1.05);
        }

        @media screen { min-width: none; max-width: 40rem;
            .blog-thumb{
                width: 25rem;
                height: auto;
                border-radius: 1rem;
            
                box-shadow: .5rem .5rem rgb(197, 197, 197);
                
            
                margin-bottom: 2rem;
                transition: transform .2s;
                
                margin-bottom: 2rem;
            }
            .blog-thumb:hover{
                transform: scale(1.05,1.05);
            }   
        }
        
    </style>
{% endblock css %}
    

{% block content %}

    <section class="blog-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="blog-area">
                        <div class="row">
                        
                            {% for blog in blogs %}
                                <div class="col-sm-6">
                                    <div class="single-blog">
                                        <div>
                                            <img class="blog-thumb" src="https://drive.google.com/uc?export=view&id={{ blog.bg_image_id }}" alt="">
                                        </div>
                                        <h4 class="blog-title">{{ blog.title }}</h4>
                                        <p class="blog-meta">{{ blog.author }} , {{ blog.date_posted|date:"F d, Y" }}</p>
                                        <p>{{ blog.content }}</p>
                                        <a target="_blank" href="{{ blog.blog_link}}" class="blog-link">Read More</a>
                                    </div>
                                </div>
                                
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
      
                        

{% endblock content %}
