{% extends 'base.html' %}
{% load static %}


{% block title %}
    Blog | Home
{% endblock title %}
    

{% block css %}
    <style>
        a{
           color: white;
       }
        .blog-thumb{
            padding: 0 0;
            border-radius: 0 !important;
        }
       
        
        .page-title{
            font-style: normal;
            font-weight: 600;
            font-size: 34px;
            line-height: 44px;
            /* identical to box height, or 131% */


            letter-spacing: 0.0038em;

            color: #082C4E;

        }

        .content{


            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 30px;
            /* or 167% */

            letter-spacing: 0.05em;

            /* Good Grey - For less significant text */

            color: #636870;

        }

        .blog-title-bg{
            background-color: #1F2531;

            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 24px;
            /* identical to box height, or 125% */

            letter-spacing: 0.0322em;

            color: #FFFFFF;
        }

        .blog-auth{
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 20px;
            /* identical to box height, or 150% */

            letter-spacing: 0.0075em;

            /* White */

            color: #FFFFFF;

            opacity: .7;
        }

        .blog-title{
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            line-height: 30px;
            /* identical to box height, or 125% */

            letter-spacing: 0.0322em;

            /* White */

            color: #FFFFFF;
            opacity: 1;

            padding-top: 20px;
            padding-bottom: 20px;
        }

        .blog-title-bg{
            padding: 20px;
        }

        .blog-thumb{
            border-radius: 5px;
        }
       
    </style>
{% endblock css %}
    
{% block five %}active{% endblock five %}
{% block content %}


<section>

    <div class="row" >
        <div class="col-lg-10 ">
            <div class="about-blog-content">
                <div class="page-title">
                    Blogs
                </div>
                <br>
                <p class="content">About Blogs ..... Aliqua id fugiat nostrud irure ex duis ea quis id quis ad et. Sunt qui esse pariatur duis deserunt mollit dolore cillum minim tempor enim. Elit aute irure tempor cupidatat incididunt sint deserunt ut voluptate aute id deserunt nisi.</p>
            </div>
        </div>
    </div>
    <br>



    <div class="row justify-content-between">

    {% for blog in blogs %}
        <div class="col-md-3 col-sm-12 blog-item"  style="margin: 50px 0;">
            <div class="row">
                <img class="blog-thumb" src="{{ blog.thumbnail.url }}" alt="">
            </div>
            <div class="row blog-title-bg">
                <div class="blog-auth">
                    {{ blog.date_posted|date:"F d, Y" }} | {{blog.author}}
                </div>
                
                <div class="blog-title">
                    {{ blog.title }}
                </div>
                
                <div class="line" style="border-top: solid 1px white;"></div>
                <br>

                <div class="link">
                    <div class="row justify-content-between">
                        <div class="col-10">Link to blog</div>
                        <div class="col-1" style="margin-right: 10px !important" >
                            <a target="_blank" href="{{blog.blog_link}}">

                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-arrow-right-square-fill" viewBox="0 0 16 16">
                                    <path d="M0 14a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2a2 2 0 0 0-2 2v12zm4.5-6.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5a.5.5 0 0 1 0-1z"/>
                                </svg>
                            </a>
                        </div>    
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

    </div>
</section>
    
     
{% endblock content %}
