{% extends 'base.html' %}

{% load static %}

{% block title %}
    Blog | Home
{% endblock title %}
    

{% block css %}
    <style>
       
        
        .section{
            margin-left: 2rem;
            margin-right: 2rem;
            margin-top: 2rem;
            margin-bottom: 2rem;
            
        }
        
        .blog-title{
            transition: transform .2s;
            margin-top: 2rem;
            
        }
        .blog-title:hover{
            transform: scale(1.05,1.05);
			
			
        }
        
        .blog-thumb{
            /* width: 30rem; */
            width: 100%;
            height: auto;
            border-radius: 1rem;
        
            box-shadow: .5rem .5rem rgb(197, 197, 197);
            
        
            margin-bottom: 2rem;
            transition: transform .2s;
            
            margin-bottom: 2rem;
        }
        .blog-thumb:hover{
            transform: scale(1.05,1.05);
			opacity: 90%;
        }
        
        .single-blog{
            border: .05rem solid black ;
            border-radius: 2rem;
            margin-top: 2rem;
        
            padding: 2rem;
            transition: transform .2s;
            background-color: azure;
            margin-bottom: 2rem;
            align-items: center;
            opacity: 80%;
        }
        .single-blog:hover{
            transform: scale(1.05,1.05);
			opacity: 90%;
        }
        
        
        .button{
            border: .05rem solid black;
            border-radius: .5rem;
            padding-left: .75rem;
            padding-right: .75rem;
            padding-top: .5rem;
            padding-bottom: .5rem;
        
            box-shadow: .25rem .25rem rgb(197, 197, 197);

            transition: transform .2s;
            background-color: rgb(188, 255, 255);
            
            align-items: center;
        }
        .button:hover{
            background-color: rgb(97, 255, 255);
            box-shadow: .15rem .15rem rgb(197, 197, 197);
            transform: scale(1.25,1.25);
        }

        /* @media screen { min-width: none; max-width: 40rem;
            .blog-thumb{
                width: 25rem;
                height: auto;
                border-radius: 1rem;
            
                box-shadow: .5rem .5rem rgb(197, 197, 197);
                
            
                margin-bottom: 2rem;
                transition: transform .2s;
                
                margin-bottom: 2rem;
            }
            .blog-thumb:hover{
                transform: scale(1.05,1.05);
            }   
        } */
        
    </style>
{% endblock css %}
    

{% block content %}
    
    
      
    <section id="about" class="section-padding about-area" style="margin: 2%">
			
			<div class="container">
				<br>
				<br>
				<br>
				<!-- //Section Title -->
				<div class="row">
					<div class="col-lg-10 ">
						<div class="about-content text-muted">
							<div class="page-title">Blogs
							</div>
							<br>
		
							<p>About Blogs ..... Aliqua id fugiat nostrud irure ex duis ea quis id quis ad et. Sunt qui esse pariatur duis deserunt mollit dolore cillum minim tempor enim. Elit aute irure tempor cupidatat incididunt sint deserunt ut voluptate aute id deserunt nisi.</p>
						</div>
					</div>
				</div>
				<br>
				<div class="row">
                    {% for blog in blogs %}
					<div class="col-lg-10 col-sm-10 col-xs-10 mt-4 mb-4">
						<div class="row">
							<img src="https://drive.google.com/uc?export=view&id={{ blog.bg_image_id }}" alt="">
						</div>
						<div class="row" style="background-color: #1E2532;">
							<div class="col">
								<div class="row text-white small font-weight-light m-1 p-1" >
								{{ blog.date_posted|date:"F d, Y" }} | {{ blog.author }}
								</div>
								<div class="row text-white font-weight-bolder m-1 p-1">
									{{ blog.title }}
								</div>
								<div style="display: flex; justify-content: end;">
									<a href="{% url 'blog:blog_detail' blog.id %}" class="col-1">
									<i class="fas fa-arrow-circle-right" aria-hidden="true"></i>
								</a>
								</div>
							</div>
						</div>
					</div>
                    <br>
                    <br>
                    {% endfor %}
				</div>
			<br>
			<br>
		</section>                 

{% endblock content %}
