{% extends 'base.html' %}

{% load static %}


{% block title %}
    Events | Home
{% endblock title %}
    

{% block css %}
    <style>
       
        
        .section-title{
            background-color: aquamarine;
            opacity: 80%;
            border-radius: 2rem;
            padding: 2rem 2rem 2rem 2rem;
            transition: transform .2s;
            margin-top: 2rem;
            margin-bottom: 2rem;
            
        }
        .section-title:hover{
            transform: scale(1.05,1.05);
			opacity: 90%;
        }

        .single-why-me{
            background-color: rgb(141, 248, 243);
            border-radius: 1.5rem;
            opacity: 80%;
            transition: transform .2s;
        }
        .single-why-me:hover{
            transform: scale(1.05,1.05);
			opacity: 90%;
        }
        .section{
            padding-left: 2rem;
            padding-right: 2rem;
            padding-top: 2rem;
            padding-bottom: 2rem;
            border-radius: 3rem;
        }

        .event-bg{
            transition: transform .2s;
            width: 30rem;
            height: auto;
            border-radius: 3rem;
            padding-left: -2rem;
            padding-top: 2rem;
            padding-bottom: 2rem;
        }
        .event-bg:hover{
            transform: scale(1.05,1.05);
			opacity: 90%;
        }

        .section-div{
            transition: transform .2s;
            background-color: azure;
            border-radius: 3rem;
            padding-top: 2rem;
            padding-bottom: 2rem;
            align-items: center;
        }
        .section-div:hover{
            transform: scale(1.05,1.05);
			opacity: 90%;
        }
        

        .event-content{
            transition: transform .2s;
            padding-top: 2rem;
            padding-bottom: 2rem;
            padding-right: 2rem;
            padding-left: 5%;
            align-content: center;
        }
        .event-content:hover{
            transform: scale(1.05,1.05);
			opacity: 90%;
        }


        .yt-link{
            border-radius: 3rem;
            padding-left: 2rem;
            padding-top: 2rem;
            padding-bottom: 2rem;
        }

        body > *::-webkit-scrollbar{
            display: none;
        }


        .section{
            margin-left: 2rem;
            margin-right: 2rem;
            margin-top: 2rem;
            margin-bottom: 2rem;
            
        }
        
        .blog-title{
            transition: transform .2s;
            margin-top: 2rem;
            
        }
        .blog-title:hover{
            transform: scale(1.05,1.05);
			
			
        }
        
        .blog-thumb{
            /* width: 30rem; */
            width: 100%;
            height: auto;
            border-radius: 1rem;
        
            box-shadow: .5rem .5rem rgb(197, 197, 197);
            
        
            margin-bottom: 2rem;
            transition: transform .2s;
            
            margin-bottom: 2rem;
        }
        .blog-thumb:hover{
            transform: scale(1.05,1.05);
			opacity: 90%;
        }
        
        .single-blog{
            border: .05rem solid black ;
            border-radius: 2rem;
            margin-top: 2rem;
        
            padding: 2rem;
            transition: transform .2s;
            background-color: azure;
            margin-bottom: 2rem;
            align-items: center;
            opacity: 80%;
        }
        .single-blog:hover{
            transform: scale(1.05,1.05);
			opacity: 90%;
        }
        
        
        .button{
            border: .05rem solid black;
            border-radius: .5rem;
            padding-left: .75rem;
            padding-right: .75rem;
            padding-top: .5rem;
            padding-bottom: .5rem;
        
            box-shadow: .25rem .25rem rgb(197, 197, 197);

            transition: transform .2s;
            background-color: rgb(188, 255, 255);
            
            align-items: center;
        }
        .button:hover{
            background-color: rgb(97, 255, 255);
            box-shadow: .15rem .15rem rgb(197, 197, 197);
            transform: scale(1.25,1.25);
        }
        
    </style>
{% endblock css %}

{% block content %}

    

<section id="events" class="section-padding why-choose-us pb-70" style="padding-top: 70px;">
    
        <!-- Section Title -->
        <div class="row justify-content-center">
            <div class="col-lg-6 ">
                <div class="section-title text-center">
                    <h2>Events</h2>
                    <p>We are organizing many events to achieve a student alumni community, to help them benefit from each other.</p>
                </div>
            </div>
        </div>
        
        <!-- //Section Title -->
      


        <div class="row justify-content-between">
            {% for category in categorys %} 

                <div class="col">
                    <div>
                        <img src="{{category.image}}" alt="not found">
                        {{category.image}}
                    </div>
                    <div class="title">
                        {{ category.name }}
                    </div>
                    <div class="link-event" style="border-top: solid 1px white;">
                        Link to event 

                        <i class="fas fa-arrow-square-right" style="display: flex;justify-content: end;"></i>
                    </div>
                </div>

            {% endfor %}
        </div>
    
</section>

    
{% endblock content %}
    