{% extends 'base.html' %}
{% load static %}

{% block title %}
    SAIL | Team 
{% endblock title %}

{% block css %}
<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=Red Hat Display' rel='stylesheet'>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<style>
* {
    position: relative;
}
.our_team {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    margin-left: 10%;
}
.our_team_heading {
    position: static;
    width: 155px;
    left: 0px;
    top: 0px;
}
h1 {
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 34px;
    line-height: 44px;
    letter-spacing: 0.0038em;
    color: #082C4E;
}
.our_team_content {
    position: static;
    width: 70%;
}
.our_team_content_style {
    font-family: Red Hat Display;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.62px;
    color: #636870;
}
.team_photos {
    width: 380px;
    height: 484px;
    margin: 5% auto 0;
    position: relative;
    /* margin-left: 124px; */
}
.team_photos_image {
    position: absolute;
    width: 380px;
    height: 418.41px;
    top: 0px;
    border-radius: 5px;
}
.team_member_details {
    top: 352px;
    position: absolute;
    width: 380px;
    height: 132px;
    background: #1E2532;
    border-radius: 0px 0px 5px 5px;
}
.line {
    position: absolute;
    width: 360px;
    height: 0px;
    left: 10px;
    top: 66px;
    border: 1px solid #FFFFFF;
}
.team_member_details_box {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;

    position: absolute;
    width: 352px;
    height: 45px;
    left: 14px;
}
.team_member_left_details_box {
    position: static;
    width: 179px;
    height: 45px;
    text-transform: uppercase;
    overflow-wrap: break-word;
    overflow: hidden;
    left: 0px;
    bottom: 0px;
}
.team_member_right_details_box {
    position: static;
    width: 173px;
    height: 45px;
    left: 179px;
    bottom: 0px;
    overflow-wrap: break-word;
    overflow: hidden;
    left: 0px;
    bottom: 0px;
}
.team_member_email {
    font-family: Red Hat Display;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    letter-spacing: 0.62px;
    color: #FFFFFF;
    text-transform: initial;
}
.team_member_name {
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    letter-spacing: 0.0322em;
    color: #FFFFFF;
}
.drop-down {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;

    position: absolute;
    width: 201px;
    height: 43px;
    left: 1029px;
    top: 612px;

    /* White */

    background: #FFFFFF;
    /* Extreme light - for strokes and lines */

    border: 1px solid #D7DDE1;
    box-sizing: border-box;
    /* Ultra light shadow - for drop downs */

    box-shadow: 0px 4px 20px rgba(30, 37, 50, 0.04);
    border-radius: 4px;
}
.drop-down-design {
    margin-left: 80%;
    width: 150px;
    height: 35px;
    background: #FFFFFF;
/* Extreme light - for strokes and lines */

border: 1px solid #D7DDE1;
box-sizing: border-box;
/* Ultra light shadow - for drop downs */

box-shadow: 0px 4px 20px rgba(30, 37, 50, 0.04);
border-radius: 4px;
}
.option-design {
    width: 94px;
    height: 19px;
    font-family: Red Hat Display;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */

    letter-spacing: 0.08em;

    /* Dark Blue - For text and dark bg */

    color: #1E2532;
    text-align: center;
}
</style>
{% endblock css %}
  
{% block content %}
<div class="our_team">
    <div class="our_team_heading">
        <h1>Our Team</h1>
    </div>
    <div class="our_team_content">
        <div class="our_team_content_style">
            Relationship is a two way street. And the relationship of alumni and the students of IITG is no different. 
            We, as students of your alma mater, are ready to help you SAIL you through any difficulties faced by you 
            concerning IITG. It could be a major problem like Issuance of Original/Duplicate certificates, grade cards, 
            requirement of Degree Transcripts urgently or a minor problem like visting the campus. We will be making 
            available those transcripts and mailing them to you. We live by the motto "Guests are equivalent to GOD", 
            so we will make sure that you do not face any problem throughout your stay at IITG campus.
        </div>
    </div>
</div>  
<div class = "container" style="width: auto; margin-top: 20px; display: inline;">

    <select name="year_dropdown" id="year_dropdown" class="drop-down-design">
        <option value="1" class="option-design">Present Year</option>
        <option value="2" class="option-design">Past Years</option>
    </select>

    <div class="row" style=" margin-left: 8%;" id="present_year_team">
    {% for team_member in team %}
    <div class ="col-sm-6" style="width: 35%;">
    <div class="team_photos">
        <img class="team_photos_image" src="/media/{{team_member.pic}}" alt="{{team_member.name}}">
        <div class="team_member_details">
            <div class="line"></div>
            <div class="team_member_details_box" style="top: 14px;">
                <div class = "team_member_left_details_box">
                    <div class="team_member_name">
                        {{team_member.name}}
                    </div>
                </div>
                <div class = "team_member_right_details_box">
                    <div class="team_member_email" style="text-align: right;">
                        {{team_member.position}}
                    </div>
                </div>
            </div>
            <div class="team_member_details_box" style="top: 76px;">
                <div class="team_member_left_details_box" style="overflow-wrap: normal; overflow: visible;">
                    <div class="team_member_email">
                        <a href="mailto:{{team_member.email}}" style="color: #FFFFFF;">
                        {{team_member.email}}
                        </a>
                    </div>
                </div>
                <div class = "team_member_right_details_box" style="text-align: right;">
                    <a href="{{team_member.linkeden}}"><i class="fa fa-linkedin-square fa-2x" style="color: #FFFFFF;"></i></a>
                </div>
            </div>
        </div>
    </div>
    </div>
    {% endfor %}
    </div>

    <div class="row" style=" margin-left: 8%; display: none;" id="past_years_team">
    {% for team_member in pastmemberlist %}
    <div class ="col-sm-6" style="width: 35%;">
    <div class="team_photos">
        <img class="team_photos_image" src="/media/{{team_member.pic}}" alt="{{team_member.name}}">
        <div class="team_member_details">
            <div class="line"></div>
            <div class="team_member_details_box" style="top: 14px;">
                <div class = "team_member_left_details_box">
                    <div class="team_member_name">
                        {{team_member.name}}
                    </div>
                </div>
                <div class = "team_member_right_details_box">
                    <div class="team_member_email" style="text-align: right;">
                        {{team_member.position}} [{{team_member.year}}]
                    </div>
                </div>
            </div>
            <div class="team_member_details_box" style="top: 76px;">
                <div class="team_member_left_details_box" style="overflow-wrap: normal; overflow: visible;">
                    <div class="team_member_email">
                        <a href="mailto:{{team_member.email}}" style="color: #FFFFFF;">
                        {{team_member.email}}
                        </a>
                    </div>
                </div>
                <div class = "team_member_right_details_box" style="text-align: right;">
                    <a href="{{team_member.linkeden}}"><i class="fa fa-linkedin-square fa-2x" style="color: #FFFFFF;"></i></a>
                </div>
            </div>
        </div>
    </div>
    </div>
    {% endfor %}
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $('#year_dropdown').change(function(){
        console.log('hello');
        let year_type = $('#year_dropdown').val();
        let present = document.getElementById('present_year_team');
        let past = document.getElementById('past_years_team');

        console.log(year_type);
        if(year_type == 1)
        {
            console.log('heyy');
            present.style.display = "block";
            past.style.display = "none";
        }
        else
        {
            present.style.display = "none";
            past.style.display = "block";
        }
    })
</script>
{% endblock content %}