{% extends 'base.html' %} {% load static %} {% block title %}Team | SAIL{% endblock title %} {% block content %}
<br><br>
<br><br>
<div class="container">
    <button style="float: right;"><a href="{% url 'team:PastExecutives'%}" style="color:inherit">Past executives</a></button>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for team_member in team %}
        <div class="col">
            <div class="card">
                <img src="https://drive.google.com/uc?export=view&id={{team_member.pic_id}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{team_member.name}}</h5>
                    <p class="card-text">{{team_member.position}}</p>
                    <a href="{{team_member.linkeden}}" class="btn btn-primary">Linkedin</a>
                    <a href="{{team_member.email}}" class="btn btn-primary">Email</a>
                </div>
            </div>
        </div>
        {% endfor %}



    </div>
    <!-- <div class="row">
        {% for team_member in team %}
        <div class="card" style="width: 18rem;">
            <img src="https://drive.google.com/uc?export=view&id={{team_member.pic_id}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{team_member.name}}</h5>
                <p class="card-text">{{team_member.position}}</p>
                <a href="{{team_member.linkeden}}" class="btn btn-primary">Linkedin</a>
                <a href="{{team_member.email}}" class="btn btn-primary">Email</a>
            </div>
        </div>
        {% endfor %}
    </div> -->
</div>
{% endblock content %}