body{
  background-image: url(/SAIL_SITE/sail/media/media/blog/blog-bg.png);
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.section{
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  
}

.blog-title{
  transition: transform .2s;
  margin-top: 2rem;
}
.blog-title:hover{
  transform: scale(1.05,1.05);
}

.blog-thumb{
  width: 30rem;
  height: auto;
  border-radius: 1rem;

  box-shadow: .5rem .5rem rgb(197, 197, 197);
  

  margin-bottom: 2rem;
  transition: transform .2s;
  
  margin-bottom: 2rem;
}
.blog-thumb:hover{
  transform: scale(1.05,1.05);
}

.blog-title{
  
}

.single-blog{
  border: .05rem solid black ;
  border-radius: 2rem;
  margin-top: 2rem;

  padding: 2rem;
  transition: transform .2s;
  background-color: azure;
  margin-bottom: 2rem;
  align-items: center;
}
.single-blog:hover{
  transform: scale(1.05,1.05);
}


.blog-link{
  border: .05rem solid black;
  border-radius: .5rem;
  padding-left: .75rem;
  padding-right: .75rem;
  padding-top: .5rem;
  padding-bottom: .5rem;

  transition: transform .2s;
  background-color: rgb(188, 255, 255);
  
  align-items: center;
}
.blog-link:hover{
  transform: scale(1.05,1.05);
}